<project-selector (projectSelected)='onProjectSelected($event)'> </project-selector>

<div class="col-xs-12" *ngIf="projectId != undefined">
  <!-- ========= Add queque ========= -->
  <button class="btn" (click)="onCreate($event)" [disabled]="experts?.length==0">
    <clr-icon shape="plus"></clr-icon>
    Добавить почтовое задание
  </button>
  <!-- ========= Queques grid ========= -->
  <clr-datagrid *ngIf="queques?.length!=0">
      <clr-dg-column>Id заявки</clr-dg-column>
      <clr-dg-column class="stringFiled">ФИО Эксперта</clr-dg-column>
      <clr-dg-column>Дата создания</clr-dg-column>
      <clr-dg-column>Дата редактирования</clr-dg-column>
      <clr-dg-column>Дата генерации документа</clr-dg-column>
      <clr-dg-column>Дата отправки письма</clr-dg-column>
      <clr-dg-column>Статус</clr-dg-column>

      <clr-dg-row *clrDgItems="let queque of queques" [clrDgItem]="queque">
          <clr-dg-action-overflow *ngIf="canEdit(queque) || canDelete(queque)">
              <button *ngIf="canEdit(queque)" class="action-item" (click)="onEdit(queque)">Редактировать</button>
              <button *ngIf="canDelete(queque)" class="action-item" (click)="onDelete(queque)">Удалить</button>
          </clr-dg-action-overflow>
          <clr-dg-cell>{{queque.requestId}}</clr-dg-cell>
          <clr-dg-cell>{{getExpertById(queque.expertId)?.fullName}}</clr-dg-cell>
          <clr-dg-cell>{{queque.creation | date: 'dd.MM.y HH:mm'}}</clr-dg-cell>
          <clr-dg-cell>{{queque.edition | date: 'dd.MM.y HH:mm'}}</clr-dg-cell>
          <clr-dg-cell>{{queque.generateDate | date: 'dd.MM.y HH:mm'}}</clr-dg-cell>
          <clr-dg-cell>{{queque.sendDate | date: 'dd.MM.y HH:mm'}}</clr-dg-cell>
          <clr-dg-cell>{{getStateById(queque.stateId).value}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          из {{pagination.totalItems}} заданий
          <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
      </clr-dg-footer>
  </clr-datagrid>
  <!-- ========= Queques not found message ========= -->
  <div *ngIf="queques?.length==0">
    <div class="alert alert-warning">
      <div class="alert-item">
        <span class="alert-text">
          <div>
            <span>Список отправки писем экспертам пуст.</span>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="experts?.length==0">
      <div class="alert alert-danger">
        <div class="alert-item">
          <span class="alert-text">
            <div><span>Список экспертов еще не создан.</span></div>
            <div><span>Необходимо сперва добавить экспертов.</span></div>
          </span>
        </div>
      </div>
    </div>
</div>
<!-- ========= Queque modal form ========= -->
<mail-form [queque]="selectedQueque" 
             [projectId]="projectId" 
             [modalOpen]="opened"
             (notify)='onNotify($event)'>
</mail-form>
<!-- ========= Queque delete modal ========= -->
<clr-modal [(clrModalOpen)]="deleteOpened">
    <h3 class="modal-title">Удаление почтового задания</h3>
    <div class="modal-body">
        <div>
          Вы уверены, что хотите удалить задание: 
          <div>
            <b>Id Заявки: {{selectedQueque.requestId}} </b>
          </div>
          <div>
            <b>Эксперт: {{getExpertById(selectedQueque.expertId)?.fullName}} </b>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelDeletion()">ОТМЕНА</button>
        <button type="button" class="btn btn-danger" (click)="deleteQueque()">УДАЛИТЬ</button>
    </div>
</clr-modal>

