<clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)=onOpenChanged($event)>
    <h3 class="modal-title">{{currentQueque.$key ? 'Редактирование' : 'Добавление' }} почтового задания</h3>
    <div class="modal-body">
      <form autocomplete="off" novalidate class="queque-form" [formGroup]="quequeForm">
        <section class="form-block">
          <!-- ========= Request ID ========= -->
          <div class="form-group">
            <label for="requestId">Id заявки:</label>
            <label for="requestId" *ngIf="!currentQueque.$key"
                aria-haspopup="true"
                role="tooltip"
                class="form-control tooltip tooltip-validation tooltip-sm"
                [class.invalid]="checkValidation('requestId')">
                <input id="requestId" type="text" 
                    class="form-control"
                    placeholder="Id заявки"
                    formControlName="requestId">
            </label>
             <label *ngIf="currentQueque.$key"> {{quequeForm.value.requestId}}</label>
          </div>
          <!-- ========= Expert id ========= -->
          <div class="form-group">
            <label for="expertId">Эсперт:</label>
            <div class="select form-control" *ngIf="!currentQueque.$key" >
              <select class="form-control" 
                      formControlName="expertId"  
                      required>
                <option [value]="undefined" selected disabled>Выберите эксперта</option>
                <option *ngFor="let expert of experts" [value]="expert.$key">{{expert.fullName}}</option>
              </select>
            </div>
            <label *ngIf="currentQueque.$key"> {{getExpertById(quequeForm.value.expertId)?.fullName}}</label>
          </div>
          <!-- ========= State id ========= -->
          <div class="form-group">
            <label for="stateId">Статус:</label>
            <div class="select form-control" *ngIf="currentQueque.$key" >
              <select class="form-control" id="stateId" 
                      formControlName="stateId" 
                      required>
                <option [value]="undefined" selected disabled>Выберите статус</option>
                <option *ngFor="let state of getAvailableStates()" [value]="state.$key">{{state.value}}</option>
              </select>
            </div>
            <label *ngIf="!currentQueque.$key"> {{getStateById(quequeForm.value.stateId)?.value}}</label>
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer">
          <button type="button"
                  [disabled]="!quequeForm.valid"
                  (click)="create()"
                  *ngIf="!currentQueque.$key"
                  class="btn btn-success">
                  ДОБАВИТЬ
          </button>
          <button type="button"
                  [disabled]="!quequeForm.valid"
                  (click)="cancel()"
                  *ngIf="currentQueque.$key"
                  class="btn btn-outline">
                  ОТМЕНА
          </button>
          <button type="button"
                  [disabled]="!quequeForm.valid"
                  (click)="edit()"
                  *ngIf="currentQueque.$key"
                  class="btn btn-primary">
                  ИЗМЕНИТЬ
          </button>
    </div>
</clr-modal>