<clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)=onOpenChanged($event)>
    <h3 class="modal-title">{{currentProject.$key ? 'Редактирование' : 'Добавление' }} проекта</h3>
    <div class="modal-body">
      <form autocomplete="off" novalidate class="project-form" [formGroup]="projectform">
        <section class="form-block">
          <div class="form-group">
            <label for="projectName">Название проекта:</label>
            <label for="projectName"
                aria-haspopup="true"
                role="tooltip"
                class="form-control tooltip tooltip-validation tooltip-sm"
                [class.invalid]="checkValidation('name')">
                <input id="projectName" type="text"
                    class="form-control"
                    placeholder="Имя проекта"
                    formControlName="name">
            </label>
          </div>
          <div class="form-group">
            <label for="appScriptId">AppScript Id:</label>
            <label for="appScriptId"
                aria-haspopup="true"
                role="tooltip"
                class="form-control tooltip tooltip-validation tooltip-sm"
                [class.invalid]="checkValidation('appScriptId')">
                <input id="appScriptId" type="text" 
                    class="form-control"
                    placeholder="AppScriptId проекта"
                    formControlName="appScriptId">
            </label>
          </div>
          <div class="form-group">
            <label for="stateId">Статус:</label>
            <div class="select form-control">
              <select class="form-control" id="stateId" formControlName="stateId" required>
                <option [value]="undefined" selected disabled>Выберите статус</option>
                <option *ngFor="let state of states" [value]="state.$key">{{state.value}}</option>
              </select>
            </div>
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer">
          <button type="button"
                  [disabled]="!projectform.valid"
                  (click)="create()"
                  *ngIf="!currentProject.$key"
                  class="btn btn-success">
                  ДОБАВИТЬ
          </button>
          <button type="button"
                  [disabled]="!projectform.valid"
                  (click)="cancel()"
                  *ngIf="currentProject.$key"
                  class="btn btn-outline">
                  ОТМЕНА
          </button>
          <button type="button"
                  [disabled]="!projectform.valid"
                  (click)="edit()"
                  *ngIf="currentProject.$key"
                  class="btn btn-primary">
                  ИЗМЕНИТЬ
          </button>
    </div>
</clr-modal>