
<project-selector (projectSelected)='onProjectSelected($event)'> </project-selector>
<div class="col-xs-12" *ngIf="projectId != undefined">
  <!-- ========= Add expert ========= -->
  <button class="btn" (click)="onCreate($event)">
    <clr-icon shape="plus"></clr-icon>
    Добавить эксперта
  </button>
  <!-- ========= Experts grid ========= -->
  <clr-datagrid *ngIf="experts?.length != 0">
      <clr-dg-column>ФИО эксперта</clr-dg-column>
      <clr-dg-column>Email</clr-dg-column>
      <clr-dg-column>Заявок</clr-dg-column>
      <clr-dg-column>Дата создания</clr-dg-column>
      <clr-dg-column>Дата редактирования</clr-dg-column>

      <clr-dg-row *clrDgItems="let expert of experts" [clrDgItem]="expert">
          <clr-dg-action-overflow>
              <button class="action-item" (click)="onEdit(expert)">Редактировать</button>
              <button *ngIf="canDelete(expert)" class="action-item" (click)="onDelete(expert)">Удалить</button>
          </clr-dg-action-overflow>
          <clr-dg-cell>{{expert.fullName}}</clr-dg-cell>
          <clr-dg-cell>{{expert.email}}</clr-dg-cell>
          <clr-dg-cell>{{expert.quequeCount}}</clr-dg-cell>
          <clr-dg-cell>{{expert.creation | date: 'dd.MM.y HH:mm'}}</clr-dg-cell>
          <clr-dg-cell>{{expert.edition | date: 'dd.MM.y HH:mm'}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          из {{pagination.totalItems}} экспертов
          <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
      </clr-dg-footer>
  </clr-datagrid>

  <!-- ========= Experts not found message ========= -->
  <div *ngIf="experts?.length == 0">
    <div class="alert alert-warning">
      <div class="alert-item">
        <span class="alert-text">
          <div>
            <span>Список экспертов пуст.</span>
          </div>
        </span>
      </div>
    </div>
  </div>

</div>

<!-- ========= Expert modal form ========= -->
<expert-form [expert]="selectedExpert" 
             [projectId]="projectId" 
             [modalOpen]="opened"
             (notify)='onNotify($event)'>
</expert-form>

<!-- ========= Expert delete modal ========= -->
<clr-modal [(clrModalOpen)]="deleteOpened">
    <h3 class="modal-title">Удаление эксперта</h3>
    <div class="modal-body">
        <p>Вы уверены, что хотите удалить эксперта: <b>{{selectedExpert.fullName}} </b> </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelDeletion()">ОТМЕНА</button>
        <button type="button" class="btn btn-danger" (click)="deleteExpert()">УДАЛИТЬ</button>
    </div>
</clr-modal>