<clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)=onOpenChanged($event)>
    <h3 class="modal-title">{{currentExpert.$key ? 'Редактирование' : 'Добавление' }}  эксперта</h3>
    <div class="modal-body">
      <form autocomplete="off" novalidate class="expert-form" [formGroup]="expertForm">
        <section class="form-block">
          <!-- ========= Email ========= -->
          <div class="form-group">
            <label for="email">Email:</label>
            <label for="email"
                aria-haspopup="true"
                role="tooltip"
                class="form-control tooltip tooltip-validation tooltip-sm"
                [class.invalid]="checkValidation('email')">
                <input id="email" type="text" 
                    class="form-control"
                    placeholder="Email эксперта"
                    formControlName="email">
            </label>
          </div>
          <!-- ========= Name ========= -->
          <div class="form-group">
            <label for="name">Имя:</label>
            <label for="name"
                aria-haspopup="true"
                role="tooltip"
                class="form-control tooltip tooltip-validation tooltip-sm"
                [class.invalid]="checkValidation('name')">
                <input id="name" type="text"
                    class="form-control"
                    placeholder="Имя эксперта"
                    formControlName="name">
            </label>
          </div>
          <!-- ========= Surname ========= -->
          <div class="form-group">
            <label for="surname">Фамилия:</label>
            <label for="surname"
                aria-haspopup="true"
                role="tooltip"
                class="form-control tooltip tooltip-validation tooltip-sm"
                [class.invalid]="checkValidation('surname')">
                <input id="surname" type="text"
                    class="form-control"
                    placeholder="Фамилия эксперта"
                    formControlName="surname">
            </label>
          </div>
          <!-- ========= Patronymic ========= -->
          <div class="form-group">
            <label for="patronymic">Отчество:</label>
            <label for="patronymic"
                aria-haspopup="true"
                role="tooltip"
                class="form-control tooltip tooltip-validation tooltip-sm"
                [class.invalid]="checkValidation('patronymic')">
                <input id="patronymic" type="text" 
                    class="form-control"
                    placeholder="Отчество эксперта"
                    formControlName="patronymic">
            </label>
          </div>
          <!-- ========= Description ========= -->
          <div class="form-group">
            <label for="description">Дополнительная информация:</label>
            <div class="row form-control">
                <textarea  id="description" type="text" 
                    class="form-control"
                    placeholder="Дополнительная информация"
                    formControlName="description">
                </textarea>
            </div>
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer">
          <button type="button"
                  [disabled]="!expertForm.valid"
                  (click)="create()"
                  *ngIf="!currentExpert.$key"
                  class="btn btn-success">
                  ДОБАВИТЬ
          </button>
          <button type="button"
                  [disabled]="!expertForm.valid"
                  (click)="cancel()"
                  *ngIf="currentExpert.$key"
                  class="btn btn-outline">
                  ОТМЕНА
          </button>
          <button type="button"
                  [disabled]="!expertForm.valid"
                  (click)="edit()"
                  *ngIf="currentExpert.$key"
                  class="btn btn-primary">
                  ИЗМЕНИТЬ
          </button>
    </div>
</clr-modal>