<div class="row project-selector-container">
  <div class="col-xs-12" *ngIf="(projects$ | async)?.length" >
    <div class="form-group row col-xs-12">
      <div class="col-xs-1">
        <label for="projectId">Проект:</label>
      </div>
      <div class="select form-control">
        <select id="projectId"
            [(ngModel)]="projectId" (change)="onProjectSelected($event)">
            <option [ngValue]="undefined" selected disabled>Выберите проект</option>
            <option *ngFor="let project of (projects$ | async)" [ngValue]="project.$key">{{project.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="(projects$ | async)?.length==0">
    <div class="alert alert-warning">
      <div class="alert-item">
        <span class="alert-text">
          <div><span>Нет активных проектов.</span></div>
          <div><span>Необходимо сперва создать проект.</span></div>
        </span>
      </div>
    </div>
  </div>
</div>
