<div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
        {{authInfo?.isLoggedIn()}}
      </div>
      <!--<app-sidebar class="sidenav"></app-sidebar>-->
</div>