
.login-wrapper,
.login-wrapper .login:after {
    background: none;
}
.login-wrapper .login{
    margin: 0 auto;
    min-height: 32vh;
}
.login-wrapper .login .ng-touched.ng-invalid{
    border:none;
    border-bottom: 1px solid #c92100;
    background: linear-gradient(180deg,transparent 95%,#c92100 0);
    transition: none;
}
.login-wrapper .login .title{
    font-size: 20px;
    line-height: 24px;
}
.login-wrapper .login .login-group{
    padding: 56px 0 0 0;
}
.login-wrapper .login .login-group input{
    width: 100%;
}
