<div class="login-wrapper">
    <form autocomplete="off" novalidate class="form login" [formGroup]="loginForm">
        <div class="title">
            Добро пожаловать
        </div>
        <div class="login-group">
            <input class="username" type="text" formControlName="email" placeholder="Email пользователя">
            <input class="password" type="password" formControlName="password" placeholder="Пароль">
            <div class="error" [class.active]="loginFailed">
                Неправильные имя пользователя или пароль.
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()" [disabled]="loginForm.invalid">LOG IN</button>
        </div>
    </form>
</div>