
<!-- ========= Add Project ========= -->
<button class="btn" (click)="onCreate($event)">
  <clr-icon shape="plus"></clr-icon>
  Добавить проект
</button>

<!-- ========= Projects grid ========= -->
<clr-datagrid *ngIf="projects?.length!=0">
    <clr-dg-column>Имя проекта</clr-dg-column>
    <clr-dg-column>AppScript Id проекта</clr-dg-column>
    <clr-dg-column>Экспертов</clr-dg-column>
    <clr-dg-column>Задач</clr-dg-column>
    <clr-dg-column>Дата создания</clr-dg-column>
    <clr-dg-column>Дата редактирования</clr-dg-column>
    <clr-dg-column>Статус проекта</clr-dg-column>

    <clr-dg-row *clrDgItems="let project of projects" [clrDgItem]="project">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(project)">Редактировать</button>
            <button class="action-item" *ngIf="canDelete(project)" (click)="onDelete(project)">Удалить</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{project.name}}</clr-dg-cell>
        <clr-dg-cell>{{project.appScriptId}}</clr-dg-cell>
        <clr-dg-cell>{{project.expertCount}}</clr-dg-cell>
        <clr-dg-cell>{{project.quequeCount}}</clr-dg-cell>
        <clr-dg-cell>{{project.creation | date: 'dd.MM.y HH:mm'}}</clr-dg-cell>
        <clr-dg-cell>{{project.edition | date: 'dd.MM.y HH:mm'}}</clr-dg-cell>
        <clr-dg-cell>{{getStateById(project.stateId).value}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        из {{pagination.totalItems}} проектов
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<!-- ========= Projects not found message ========= -->
<div *ngIf="projects?.length==0">
<div class="alert alert-warning">
    <div class="alert-item">
    <span class="alert-text">
        <div>
            <span>Список проектов пуст.</span>
        </div>
    </span>
    </div>
</div>
</div>

<!-- ========= Project modal from ========= -->
<project-form [project]="selectedProject" 
              [modalOpen]="opened"
              (notify)='onNotify($event)'>
</project-form>

<!-- ========= Project delete modal ========= -->
<clr-modal [(clrModalOpen)]="deleteOpened">
    <h3 class="modal-title">Удаление проекта</h3>
    <div class="modal-body">
        <p>Вы уверены, что хотите удалить проект: <b>{{selectedProject.name}} </b> </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelDeletion()">ОТМЕНА</button>
        <button type="button" class="btn btn-danger" (click)="deleteProject()">УДАЛИТЬ</button>
    </div>
</clr-modal>