<header class="header header-6">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <clr-icon shape="shield"></clr-icon>
      <span class="title">UTAutomation</span>
    </a>
  </div>
  <!--<div class="header-nav">
    <a *ngFor="let headerLink of headerLinks" [routerLink]="headerLink.link" routerLinkActive="active" class="nav-link nav-icon">
      <clr-icon [attr.shape]="headerLink.icon"></clr-icon>
    </a>
  </div>-->
  <div class="header-actions">
    <a class="nav-link nav-text" *ngIf="!authInfo?.isLoggedIn()" routerLink="login">Login</a>
    <a class="nav-link nav-text" *ngIf="authInfo?.isLoggedIn()" (click)="logout()">Log out</a>
  </div>
</header>
<nav class="subnav">
  <ul class="nav">
    <li *ngFor="let subLink of getSublinks()" class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="subLink.link">{{subLink.label}}</a>
    </li>
  </ul>
</nav>
